{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Login</h3>

                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                {{ form_start(form) }}
                    {{ form_row(form.username) }}
                    {{ form_row(form.password) }}
                    <button type="submit" class="btn btn-success" formnovalidate>Login</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}