{% extends 'base.html.twig' %}

{% block title %} Welcome Student {% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lectures</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
          {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.lecture }}</td>
                <td>{{ student.grade }}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>

    <div class="grade_container">
        <div class="value">Total grade</div>
        <div class="grade"></div>
    </div>

{% endblock %}

