{% extends 'base.html.twig' %}

{% block title %}Lecture index{% endblock %}

{% block body %}
    <h1>Lecture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>LectureName</th>
                <th>Teacher</th>
                <th>created at</th>
                <th>updated at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lecture in lectures %}
            <tr>
                <td>{{ lecture.id }}</td>
                <td>{{ lecture.lectureName }}</td>
                <td>{{ lecture.teacher.fullName|default('undefined') }}</td>
                <td>{{ lecture.createdAt ? lecture.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ lecture.updatedAt ? lecture.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('lecture_show', {'id': lecture.id}) }}">show</a>
                    {% if lecture.teacher.email  is same as(user) or is_granted('ROLE_ADMIN')%}
                        <a href="{{ path('lecture_edit', {'id': lecture.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_TEACHER') %}
        <a href="{{ path('lecture_new') }}">Create new</a>
    {% endif %}
{% endblock %}