{% extends 'base.html.twig' %}
    {% block body %}
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>

                {% for id in lecture.articles %}
                    <tr>
                        <td>{{ id.id }}</td>
                        <td>{{ id.articleName }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('lecture_show', {'id': lecture.id}) }}">back to lecture</a>
    {% endblock %}