{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a></li>
                    {% if is_granted('ROLE_TEACHER') %}
                        <li><a href="{{ path('lecture_index') }}">Lectures <span class="sr-only">(current)</span></a></li>
                        <li><a href="{{ path('article_index') }}">Articles <span class="sr-only">(current)</span></a></li>
                        <li><a href="{{ path('user_index') }}">Users <span class="sr-only">(current)</span></a></li>
                     {% else %}
                         <li><a href="{{ path('student_index') }}">My Lectures <span class="sr-only">(current)</span></a></li>
                     {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('ROLE_STUDENT') or is_granted('ROLE_TEACHER') %}
                        <li><a href="{{ path('logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ path('login') }}">Login</a></li>
                        <li><a href="{{ path('register') }}">Register <span class="sr-only">(current)</span></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}