{% extends 'base.html.twig' %}

{% block title %}Grade index{% endblock %}

{% block body %}
    <h1>Grade index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Lecture</th>
                <th>Grade</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for grade in grades %}
            <tr>
                <td>{{ grade.lecture }}</td>
                <td>{{ grade.grade }}</td>
                <td>
                    <a href="{{ path('grade_show', {'id': grade.id}) }}">show</a>
                    <a href="{{ path('grade_edit', {'id': grade.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('grade_new') }}">Create new</a>
{% endblock %}