{% extends 'base.html.twig' %}

{% block title %}Grade{% endblock %}

{% block body %}
    <h1>Grade</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Student Name</th>
                <td>{{ grade.student }}</td>
            </tr>
            <tr>
                <th>Grade</th>
                <td>{{ grade.grade }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('grade_index') }}">back to list</a>

    <a href="{{ path('grade_edit', {'id': grade.id}) }}">edit</a>

    {{ include('grade/_delete_form.html.twig') }}
{% endblock %}