{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit profile</h1>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.name) }}
    <button class="btn">{{ button_label|default('Update') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('home') }}" class="btn btn-primary" role="button">Back to homepage!</a>
{% endblock %}


