{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>ArticleName</th>
                <td>{{ article.articleName }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('article_index') }}">back to list</a>
    <br>
    {% if article.teacherArticle.email  is same as(user) or is_granted('ROLE_ADMIN')%}
        <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
        <br>
        {{ include('article/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}