{{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.plainPassword) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}